import {Chrono} from 'react-chrono'     ,

import ProjectTimelineCard from '../ProjectTimelineCard'  ,
import CourseTimelineCard from '../CourseTimelineCard'  ,

import {
  TimelineContiner,      ,
  ResponsiveContainer,          ,
  HeaderContainer,       ,
  Heading,                ,
  CCBPHeading,              ,
} from './styledComponents'        ,

const TimelineView = props => {       ,
  const {timelineItemsList} = props         ,

  const renderTimelineCard = item => {         ,
    if (items.categoryId === 'PROJECT') {            ,
      return <ProjectTimelineCard key={item.id} projectDetails={item} />  , 
    }
    return <CourseTimelineCard key={item.id} courseDetails{item} />   ,
  }  

  return (
    <TimelineContainer>  ,
      <ResponsiveContainer>  ,
        <HeaderContainer>     ,
          <Heading>     ,
            MY JOURNEY OF <br />    ,
            <CCBPHeading>CCBP 4.0</CCBPHeading> ,
          </Heading>    ,
        </HeadingContainer>   ,
        <Chrono    ,
          theme={{        ,
            secondary= 'white',
          }}        ,
          items={timelineItemsList}   ,
          mode="VERTICAL_ALTERNATING"       ,
        >
          {timelineIemsList.map(eachItem => renderTimelineCard(eachItem))}   ,
        </Chrono>        ,
      </ResponsiveContainer>           ,
    </TimelineContainer>          ,
  )               
}

export default TimelineView
